<div class="container">
    <div class="text-center text-warning"><h2>ADDING NEW STUDENT DETAILS</h2></div>
    <div class="row">
    <div class="col-sm-12">
    <form #ref="ngForm" (ngSubmit)="sendt(ref.value)">
        <div class="form-group">
            <label>Enter Studentname:</label>
            <input type="text" name="name" class="form-control" ngModel #ref1="ngModel" required>
            <label *ngIf="ref1.invalid && ref1.touched"><div class="text-danger">Student name is mandatory</div></label>
        </div>
        <div class="form-group">
            <label>Roll Number:</label>
            <input type="text" name="rollnumber" class="form-control" ngModel #ref2="ngModel" required>
            <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)"><div class="text-danger">Roll Number is mandatory</div></label>
        </div>
        <div class="form-group">
            <label>Class:</label>
            <input type="text" name="class" class="form-control"  ngModel #ref3="ngModel" required>
            <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)"><div class="text-danger">Class is mandatory</div></label>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ngModel #ref4="ngModel" required minlength="8">
            <label *ngIf="ref4.invalid && (ref4.dirty || ref4.touched)"><div class="text-danger">Password must be 8 characters</div></label>
        </div>
        <div class="form-group">
            <label>Gmail</label>
            <input type="text" name="gmail" class="form-control" placeholder=".@gmail.com" ngModel #ref5="ngModel" required>
            <label *ngIf="ref6.invalid && (ref5.dirty || ref5.touched)"><div class="text-danger">Gmail is mandatory</div></label>
        </div>
        <div class="form-group">
                <label>Phone Number:</label>
                <input type="number" name="phonenumber" class="form-control" ngModel #ref6="ngModel" required>
                <label *ngIf="ref6.invalid && (ref6.dirty || ref6.touched)"><div class="text-danger">Phone Number is mandatory</div></label>
            </div>
        <div class="text-center">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
</div>
</div>
</div>
