<div class="container">
        <div><h2  class="text-center text-danger">ATTENDANCE</h2></div>
        <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <h5><label for="z">search:</label></h5>
                <input type="text" name="search" id="z" [(ngModel)]="searchterm"  class="form-control" placeholder="Enter Rollnumber">
        </div>
        </div>
    <form #ref="ngForm" (ngSubmit)="sendto1(ref.value)">
        <div class="form-group">
            <label>Roll Number:</label>
            <input type="text" name="rollnumber" class="form-control" ngModel #ref1="ngModel" required>
            <label *ngIf="ref1.invalid && ref1.touched"><div class="text-danger">Roll Number is mandatory</div></label>
        </div>
        <div class="form-group">
            <label>Month Attendance</label>
            <input type="number" name="monthattendance" class="form-control" ngModel #ref2="ngModel" required >
            <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)"><div class="text-danger">Month Attendance is mandatory</div></label>
        </div>
        <div class="form-group">
            <label>Overall Attendance</label>
            <input type="number" name="overallattendance" class="form-control" ngModel  #ref3="ngModel" required>
           <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)"><div class="text-danger">Overall Attendance is mandatory</div></label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
    <div *ngIf=d>
            <form #ref="ngForm" (ngSubmit)="onSubmit1(ref.value)">
                    <div class="form-group">
                        <label>Roll Number:</label>
                        <input type="text" name="rollnumber" class="form-control"  [(ngModel)]="objectToModify1.rollnumber">
                    </div>
                    <div class="form-group">
                        <label>Month Attendance</label>
                        <input type="number" name="monthattendance" class="form-control"  [(ngModel)]="objectToModify1.monthattendance" >
                    </div>
                    <div class="form-group">
                        <label>Overall Attendance</label>
                        <input type="number" name="overallattendance" class="form-control"  [(ngModel)]="objectToModify1.overallattendance">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info">save</button>
                    </div>
                </form>
    </div>
    <table class="table table-bordered">
            <thead class="bg-danger">
                <th>Rollnumber</th>
                <th>Month Attendance</th>
                <th>Overall Attendance</th>
            </thead>
                <tr *ngFor="let obj1 of h | search:searchterm">
                    <td>{{obj1.rollnumber}}</td>
                    <td>{{obj1.monthattendance}}</td>
                    <td>{{obj1.overallattendance}}</td>
                    <button class="btn btn-danger" (click)="deleteRecord1(obj1.rollnumber)">Delete</button>
                    <button class="btn btn-success" (click)="editRecord(obj1)">Edit</button>
                </tr>
            
        </table>
</div>