<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h1>REQUEST TO AUTHORITY</h1>
        </div>
        <div class="card-body">
            <form #ref="ngForm" (ngSubmit)="send1(ref.value)">

                <div class="row">
            <div class="form-group">
                <label>Reason For Leave:</label>
            <textarea type="text" class="form-control" name="letter" rows="15" cols="120" ngModel ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
        <label>From</label>
        <input type="date" name="from" class="form-control" ngModel>
    </div>
    </div>
    <div class="col-sm-4">
            <div class="form-group">
        <label>To</label>
        <input type="date" name="to" class="form-control" ngModel>
    </div>
    </div>
  
    <div class="col-sm-4">
            <div class="form-group">
        <label>NO:OF Days</label>
        <input type="number" name="days" class="form-control" ngModel>
    </div>
    </div>
    </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">{{b?"sendrequest":"request loading"}}</button>
        </div>
    </form>
        </div>
        <div class="card-footer">
           <ol *ngFor="let value of accept">
               <li>{{value.message}}<br/> {{value.Reason_For_Rejection}}</li>
           </ol>
     </div>
    </div>
</div>