
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-info navbar-light ">
        <a href="" class="navbar-brand">
            <img src="assets/4.7.png" width="60px">
        </a>
      <button data-toggle="collapse" data-target="#n" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="n" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
            <li class="nav-item">
                    <a routerLink="profile" class="nav-link" data-toggle="tab">Profile</a></li>
           <li class="nav-item">
          <li class="nav-item">
              <a routerLink="Marks" class="nav-link" data-toggle="tab">Marks</a></li>
     <li class="nav-item">
            <a routerLink="Attendance" class="nav-link" data-toggle="tab">Attendence</a></li>
            <li class="nav-item">
              <a routerLink="Feestatus" class="nav-link" data-toggle="tab">Fee Status</a></li>
              <li class="nav-item">
                <a routerLink="Notification" class="nav-link" data-toggle="tab">Notifications</a></li>
                <li class="nav-item">
                    <a routerLink="Request" class="nav-link" data-toggle="tab">Request</a></li>
                    <li class="nav-item">
                  <a routerLink="logout2" class="nav-link" data-toggle="tab">Logout</a></li>
            </ul>
            
    </div>
    </nav>
    <h3 class="text-warning"><marquee>Welcome To Student </marquee></h3>
    <router-outlet></router-outlet>
    </div>
