<div class="container">
    <h1><div class="text-danger text-center">Student Profile</div></h1>
  <table class="table table-bordered" *ngFor="let pro of data">
                <tr>
                    <th>studentname</th>
                    <td>{{pro.name}}</td>
                </tr>
                 <tr> <th>Rollnumber</th>
                    <td>{{pro.rollnumber}}</td>
                </tr>
                <tr> <th>class</th>
                   <td>{{pro.class}}</td>
                </tr>
                <tr> <th>Phone Number</th>
                    <td>{{pro.phonenumber}}</td>
                 </tr>
                </table>
                
     </div>