<div><h1 class=" text-dark"><marquee  behavior="alternate"  direction="right">STUDENT MANAGEMENT SYSTEM</marquee></h1></div>
<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-info navbar-light ">
      <a href="" class="navbar-brand">
          <img src="assets/4.svg" width="300px">
      </a>
    <button data-toggle="collapse" data-target="#n" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="n" class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="home" class="nav-link" data-toggle="tab">Home</a></li>
   <li class="nav-item">
          <a routerLink="login" class="nav-link" data-toggle="tab">Login</a></li>
          </ul>
          
        </div>
  </nav>
 
  <router-outlet></router-outlet>
      
</div>

