               <div class="container">
                   <div><h2 class="text-center text-success">REQUEST FROM STUDENTS</h2></div>
                   <div class="row"> 
                       <div class="col-md-12">            
                         <ul *ngFor="let value of data">
                                <div class="row">
                 <div><li class="nav-link"><b>Roll Number:</b>{{value.rollnumber}}</li></div>
                      <div> <pre style="display:flex"><li class="nav-link">{{value.letter}}</li></pre></div> </div>
                  <div class="row">
                      <div class="col-md-4"><li class="nav-link"><b>From</b>:{{value.from}}</li></div>
                  
                  <div class="col-md-4">
                      <li class="nav-link"><b>To</b>:{{value.to}}</li>
                    </div>
                
                <div class="col-md-4"><li class="nav-link"><b>NO:OF Days</b>:{{value.days}}</li></div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-2 "(click)="send2(value.rollnumber)">Accept</button>
                    <button class="btn btn-danger"(click)="send3()">Reject</button></div>
                    <div *ngIf="v">
                            <form #ref="ngForm" (ngSubmit)="reject((ref.value),(value.rollnumber))">
                        <div class="form-group">
                            <label>Reason for Rejection</label>
                            <input type="text" name="Reason_For_Rejection" class="form-control" ngModel>
                        </div>
                        <button class="btn btn-danger">send</button>
                        </form>
                    </div>
                </ul>
            </div>
        </div>
       
    </div>


           
     