<table class="table table-bordered">
    <thead>
        <th>Roll Number</th>
        <th>Total Fee</th>
        <th>Paid Fee</th>
        <th>Balance Fee</th>
    </thead>
    <tr *ngFor="let objet of fee">
    <td>{{objet.rollnumber}}</td>
    <td>{{objet.totalfee}}</td>
    <td>{{objet.paidfee}}</td>
    <td>{{objet.balancefee}}</td>
</tr>
</table>
