<div class="row">
    <div class="col-sm-12">
<table class="table table-bordered">
    <thead>
        <th>Rollnumber</th>
        <th>Subject</th>
        <th>Marks Aquired</th>
        <th>Total Marks</th>
        <tr *ngFor="let obj of marks">
            <td>{{obj.rollnumber}}</td>
            <td>{{obj.subject}}</td>
            <td>{{obj.marks}}</td>
            <td>{{obj.total}}</td>
        </tr>
    </thead>
</table>
</div>
</div>
