<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
    <table class="table">
    <thead class="text-center">
        <th><h2>Notification</h2></th>
    </thead>
    <tr *ngFor="let std of notif">
        <span class="blink" >
        <td>{{std.notification}}</td></span>
    </tr>
</table>
</div>
<div class="col-md-3"></div>
</div>
</div>
