@keyframes blink {  
    0% { color: green; }
    100% { color: black; }
  }
  @-webkit-keyframes blink {
    0% { color: green; }
    100% { color: black; }
  }
  .blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
  } 