<div class="container">
        <div class="text-center text-success"><h2>MARKS</h2></div>
        <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <h5><label for="x">search:</label></h5>
                <input type="text" name="search" id="x" [(ngModel)]="searchterm"  class="form-control" placeholder="Enter Rollnumber">
        </div>
        </div>
    <form #ref="ngForm" (ngSubmit)="sendData(ref.value)">
        <div class="form-group">
            <label>Student Rollnumber:</label>
            <input type="text" name="rollnumber" class="form-control" ngModel #ref1="ngModel" required>
            <label *ngIf="ref1.invalid && ref1.touched"><div class="text-danger">Roll Number is mandatory</div></label>
        </div>
        <div class="form-group">
            <label>Subject:</label>
            <input type="text" name="subject" class="form-control" ngModel #ref2="ngModel" required>
            <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)"><div class="text-danger">Subject is mandatory</div></label>
        </div>
        <div class="form-group">
            <label>Marks Aquired: </label>
            <input type="number" name="marks" class="form-control" ngModel #ref3="ngModel" required>
            <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)"><div class="text-danger">Marks Aquired is mandatory</div></label>
        </div>
        <div class="form-group">
            <label>Total Marks:</label>
            <input type="number" name="total" class="form-control" ngModel #ref4="ngModel" required> 
            <label *ngIf="ref4.invalid && (ref4.dirty || ref4.touched)"><div class="text-danger">Total Marks is mandatory</div></label>
        </div>
        <div class="text-center">
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
    </form>

<div *ngIf=b>
        <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
                <div class="form-group">
                    <label>Student Rollnumber:</label>
                    <input type="text" name="rollnumber" class="form-control" [(ngModel)]="objectToModify.rollnumber">
                </div>
                <div class="form-group">
                    <label>Subject:</label>
                    <input type="text" name="subject"  class="form-control" [(ngModel)]="objectToModify.subject">
                </div>
                <div class="form-group">
                    <label>Marks Aquired: </label>
                    <input type="number" name="marks" class="form-control" [(ngModel)]="objectToModify.marks">
                </div>
                <div class="form-group">
                    <label>Total Marks:</label>
                    <input type="number" name="total"  class="form-control" [(ngModel)]="objectToModify.total">
                </div>
                <div class="text-center">
                <button class="btn btn-info" type="submit">save</button>
            </div>
            </form>
    </div>
    <table class="table table-bordered">
        <thead class="bg-warning">
            <th>Rollnumber</th>
            <th>Subject</th>
            <th>Marks Aquired</th>
            <th>Total Marks</th>
        </thead>
            <tr *ngFor="let obj1 of marks | search:searchterm">
                <td>{{obj1.rollnumber}}</td>
                <td>{{obj1.subject}}</td>
                <td>{{obj1.marks}}</td>
                <td>{{obj1.total}}</td>
                <button class="btn btn-danger" (click)="deleteRecord(obj1.rollnumber)">Delete</button>
                <button class="btn btn-success" (click)="editRecord(obj1)">Edit</button>
            </tr>
        
    </table>
</div>
