    <div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            
                <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
                       
                                <h2 class="text-center">LOGIN</h2>
                                <div class="form-group">
                        <label>USER ID:</label>
                        <input type="text" name="rollnumber" class="form-control" placeholder="Enter ID" #ref1="ngModel" required  ngModel >
                        <label *ngIf="ref1.invalid && (ref1.dirty || ref1.touched)"><div class="text-danger">User Id is mandatory</div></label>
                                </div>
                                <div class="form-group">
                        <label>Password:</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter Password"#ref2="ngModel" required minlength="5" ngModel>
                            <label *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)"><div class="text-danger">*please enter 5 characters</div></label>
                        </div>
                     
                         <div>    
                                <div><label *ngIf="ref3.invalid && (ref3.dirty || ref3.untouched)"><div class="text-danger">Select one of the following</div></label></div>          
                                        <label for="g" class="form-check-label">
                             <input type="radio" name="user" value="admin" id="g" class="form-check-input"#ref3="ngModel" required ngModel>Admin
                         </label>
                        </div>
                            <div>
                         <label for="m" class="form-check-label">
                            <input type="radio" name="user" value="student" id="m" class="form-check-input"#ref3="ngModel" required ngModel>Student
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" >Login</button>
                       </div>
                       <div class="text-center">
                        <a routerLink="/main/forgotpassword" class="nav-link">forgot password?</a></div>
                        
                       
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    