<div class="card">
    <div class="card-header">
    <div class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <img src="assets/4.3.jpg" alt="" width="1200" width="100%" height="500px" >
          </div>
          <div class="carousel-item">
            <img src="assets/4.4.jpg" alt="" width="1200" width="100%" height="500px">
          </div>
          <div class="carousel-item">
            <img src="assets/4.5.jpg" alt="" width="1200" width="100%" height="500px">
          </div>
          <div class="carousel-item">
            <img src="assets/4.6.jpg" alt="" width="1200"  width="100%" height="500px">
          </div>
          <div class="carousel-item">
            <img src="assets/4.9.jpg" alt="" width="1200" width="100%" height="500px">
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
   
</div>
<div class="card-body">
    <div class="row">
    <div class="col-md-6 text-center text-dark">
        <h4>RAMACHANDRA COLLEGE OF ENGINEERING is a vibrant, forward looking Institution offering a high quality learning experience with a welcoming and friendly environment. RCE aims at establishing academic credibility as an Institution offering dynamic UG Engineering programs, Industry Interface, Research and Consultancy. RCE has a team of highly experienced, well qualified and dedicated faculty members in all disciplines. In addition, RCE organizes guest lectures by eminent professors, experts from industry to the students in their respective areas of specialization</h4>
    </div>
    <div class="col-md-6">
        <img src="assets/4.2.jpg" width="300px">
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
           
        <div><h4>RCE Vision:</h4></div>
To emerge as a “Centre of excellence” offering high quality Technical Education and Research Opportunities to learners and also develop complete personality of graduates with good communication, discipline, lifelong learning, leadership qualities, ethics and global standards there by making them professionally deft and intellectually adept to contribute for the advancement of environment and society.

        </div>
    </div>
    <div class="card">
            <div class="card-body">
                <div>
                  <h4> RCE MISSION:</h4>
                </div>

                To impart high quality technical education by providing the state-of-the art infrastructure, core instruction and well experienced and qualified faculty. To develop highly motivated engineering professionals with good knowledge, communication skills, human and ethical values, requisite skills and competence. To produce highly successful graduates who can contribute to the profession to resolve the societal and environmental issues in the society
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <div>
                      <h4>contact us:</h4>                	
    </div>
    Address: Ramachandra College of Engineerng is located in a 13 acre campus abutting NH-5, about 11 km. from heart of Eluru Town, West Godavari District, Andhra Pradesh,
    ph.no:8333819200
    email:media@rcee.ac.in
                </div>
            </div>
</div>
</div>
<div class="card-footer text-center">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
    <img src="assets/5.jpg" width="80%">
    <div>Sri G.S.Ramachandra Rao</div>
              <p> Chairman</p>
  </div>
  </div>
  <div class="card">
      <div class="card-body">
    <img src="assets/5.1.jpg" width="80%">
    <div>Sri K. Venu Gopal</div>
              <p> Secretary</p>
  </div>
  </div>
  <div class="card">
      <div class="card-body">
    <img src="assets/5.2.jpg" width="80%">
    <div>Dr. Dola Sanjay S</div>
                <p>Principal</p>
  </div>
  </div>
  </div>
</div>
</div>
</div>
