<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-info navbar-light ">
        <a href="" class="navbar-brand">
            <img src="assets/4.7.png" width="60px">
        </a>
      <button data-toggle="collapse" data-target="#n" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="n" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a routerLink="addstudent" class="nav-link" data-toggle="tab">Add Student</a></li>
              <li class="nav-item">
                <a routerLink="studentprofile" class="nav-link" data-toggle="tab">Student Profile</a></li>
          <li class="nav-item">
              <a routerLink="marks" class="nav-link" data-toggle="tab">Marks</a></li>
     <li class="nav-item">
            <a routerLink="attendance" class="nav-link" data-toggle="tab">Attendence</a></li>
            <li class="nav-item">
              <a routerLink="feeStatus" class="nav-link" data-toggle="tab">Fee Status</a></li>
              <li class="nav-item">
                <a routerLink="notifications" class="nav-link" data-toggle="tab">Notifications</a></li>
                <li class="nav-item">
                    <a routerLink="Request list" class="nav-link" data-toggle="tab">Request List</a></li>
                <li class="nav-item">
                  <a routerLink="logout" class="nav-link" data-toggle="tab">Logout</a></li>
            </ul>
            
    </div>
    </nav>
    <h3 class="text-danger"><marquee>Welcome To Admin </marquee></h3>
    <router-outlet></router-outlet>
    </div>
  
   
