<div class="container">
    <div class="text-center text-danger"><h2>STUDENT PROFILES</h2></div>
        <div class="row">
                <div class="col-sm-12">
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <h5><label for="e">search:</label></h5>
        <input type="text" name="search" id="e" [(ngModel)]="searchterm"  class="form-control" placeholder="Enter Rollnumber">
</div>
</div>

    <table class="table table-bordered">
        <thead class="bg-success">
            <th>studentname</th>
            <th>Rollnumber</th>
           <th>class</th>
           <th>Phone Number</th>
        </thead>
           
            <tr *ngFor="let obj of data | search:searchterm">
                <td>{{obj.name}}</td>
                <td>{{obj.rollnumber}}</td>
                <td>{{obj.class}}</td>
                <td>{{obj.phonenumber}}</td>
                <button class="btn btn-danger" (click)="deleteRecord3(obj.rollnumber)">Delete</button>
            </tr>
       
    </table>
</div>
</div>
    </div>
